/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
* {
  font-family: 'Roboto', sans-serif;
  /* border: 1px solid black; */
}

body {
  background: url('./assets/burger-friends.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0;
  display: grid;
  grid-template-rows: 9% 91%;
}

nav {
  background-color: #0fb9b1;
  display: flex;
  justify-content: space-between;
  padding-left: 1.2%;
  padding-right: 1.2%;
  align-items: center;
  grid-row: 1;
}

main {
  grid-row: 2;
  display: grid;
  grid-template-columns: 8.4% 35.4% 12.46% 35.4% 8.4%;
  grid-template-rows: 7% 56% 37%;
  height: 670px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding: 50px;
  grid-column: 2;
  grid-row: 2
}

#results {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4;
  grid-row: 2
}

.formtitle {
  margin: 0px;
  display: block;
  font-size: x-large;
}

#results, form {
  background-color: rgba(225, 225, 225, .9);
}

img {
  margin: auto;
  max-width: 100%;
  height: 170px;
}

sup {
  color: #ee5253
}

#food-type-button {
  background-color: #0fb9b1;
  width: 180px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px / 5px;
}

.hidden {
  display: none;
}

#you-should {
  text-align: center;
}

#seen-before {
  text-align: center;
  font-size: 200%;
  color: red;
}

#dish-name {
  font-size: 200%;
  font-weight: bolder;
  text-align: center;
}

h2 {
  margin: 0;
}

#dish-name-section > p {
  margin-block-start: 0%;
  margin-block-end: 0%;
}
